Use functions to create and load manual data

Describe the Series object

Describe the DataFrame object

Identify basic operations on Series objects

Identify basic operations on DataFrame objects

Perform conditional subsetting, fancy slicing, and indexing

Use methods to save data

In [5]:
# Series == list == ndarray

In [6]:
import pandas as pd
s = pd.Series(['banana',45])
print(s)

0    banana
1        45
dtype: object

In [7]:
#manually assign index value to the Series 

spe = pd.Series(data =['web','world'],index=['one','two'])
print(spe)

one      web
two    world
dtype: object

In [8]:
#create a dataFrame
scientist = pd.DataFrame(
data = {
   "Occupation" : ["Developer","Business"],
   "Born" : [1995,1963],
   "Age" : [28,60]
},
index = ["Balaji","Rajan"],
columns = ["Occupation","Born","Age"]
)
print(scientist)

       Occupation  Born  Age
Balaji  Developer  1995   28
Rajan    Business  1963   60

In [9]:
first_row = scientist.loc['Balaji']
first_row

Occupation    Developer
Born               1995
Age                  28
Name: Balaji, dtype: object

In [10]:
first_row.index

Index(['Occupation', 'Born', 'Age'], dtype='object')

In [11]:
first_row.values

array(['Developer', 1995, 28], dtype=object)

In [12]:
first_row.keys()

Index(['Occupation', 'Born', 'Age'], dtype='object')

In [13]:
ages = scientist['Age']
print(ages)

Balaji    28
Rajan     60
Name: Age, dtype: int64

In [14]:
ages.mean()

44.0

In [15]:
ages.min()

28

In [16]:
ages.max()

60

In [17]:
ages.std()

22.627416997969522

In [18]:
ages.var()

512.0

In [19]:
ages.describe()

count     2.000000
mean     44.000000
std      22.627417
min      28.000000
25%      36.000000
50%      44.000000
75%      52.000000
max      60.000000
Name: Age, dtype: float64

In [20]:
print(ages > ages.mean())

Balaji    False
Rajan      True
Name: Age, dtype: bool

In [21]:
print(ages[ages > ages.mean()])

Rajan    60
Name: Age, dtype: int64

In [22]:
scientist["Age"] = scientist["Age"].sample(frac=1, random_state=42).values

In [23]:
scientist["Age"]

Balaji    60
Rajan     28
Name: Age, dtype: int64

In [24]:
#saving df to excel 
scientist.to_excel('scientists_names_series_df.xls',sheet_name = "scientist",engine='openpyxl')

The format called “feather” is used to save DataFrames into a binary object that can also be loaded into other languages (e.g., R). The main benefit of this approach is that it is faster than writing and reading a CSV file between the languages

The feather formatter is installed via conda install -c conda-forge pyarrow or pip install pyarrow. More on installing packages are described in

You can use the .to_feather() method on a dataframe to save the feather objects.

In [25]:
import pprint
convertToDict = scientist.to_dict()

In [26]:
pprint.pprint(convertToDict)

{'Age': {'Balaji': 60, 'Rajan': 28},
 'Born': {'Balaji': 1995, 'Rajan': 1963},
 'Occupation': {'Balaji': 'Developer', 'Rajan': 'Business'}}

In [30]:
sci_json = scientist.to_json(orient='records',indent=2)
pprint.pprint(sci_json)

('[\n'
 '  {\n'
 '    "Occupation":"Developer",\n'
 '    "Born":1995,\n'
 '    "Age":60\n'
 '  },\n'
 '  {\n'
 '    "Occupation":"Business",\n'
 '    "Born":1963,\n'
 '    "Age":28\n'
 '  }\n'
 ']')